# .github/
# .firebaserc
# .firebase/

# firebase.json
# firestore.indexes.json
*.rules
*.log
*.docx
Beschrijving project.pdf
Evaluatiemodel en projectvereisten ingevuld Webdevelopment 2 - 20-21.pdf
Evaluatiemodel en projectvereisten Webdevelopment 2 - 20-21.pdf